* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 html,body{
     width: 100%;
     height: 100%;
     padding-top: 3%;
 }
 #full{
     width: 100%;
     height: 70%;
     position: absolute;
     background-color: rgb(241, 241, 241);

 }
 
 #main{
    width: 90%;
    height: 90%;
    position: absolute;
    display: flex;
     left:50%;
     top: 50%;
     transform: translate(-50% , -50% );
     border-radius: 10px;
    
    overflow: hidden;
    box-shadow: 0 3px  6px 0  #e9e8e8;
 }

 #left{
     width: 40%;
     height: 100%;
     background-color: rgb(58, 174 ,159);
     font-family: open sans;
     color: white;
     position: relative;
    
    
 }
 #right{
     width: 60%;
     height: 100%;
     background-color: rgb(255, 255, 255);
     position: relative;
    
 }
 #social{
     display: flex;
     width: 140px;
     align-items: center;
     justify-content: space-between;
     margin-left: 200px;
     margin-bottom: 15px;
     margin-top: 15px;
 }
 .icon{
     width: 35px;
     height: 35px;
     border-radius: 100%;
     background-color: rgb(243, 243, 243);
     box-shadow: 0 3px  6px 0  #e9e8e8;
     position: relative;
 }

 i{
     position: absolute;
     left:50%;
     top: 50%;
     transform: translate(-50% , -50% );
     font-size: 17px;
     font-weight: 800;
     

 }
 #box{
     width: 300px;
     height: 500px;
 }
 .fild{
    
    margin-top: 30px;
}

.fild input{
    width: 250px;
    height: 35px;
    margin-bottom: 10px;
    border: none;
    background-color: #f0f0f0ef;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 150px;
    
}
#lcontent{
    width: 80%;
    height: 80%;
   
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: ;
}
#rcontent{
    width: 80%;
    height: 80%;
  
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: ;
}
h2{
    font-family: open sans;
    color:  rgb(58, 174 ,159);
    font-size: 25px;
    font-weight: 800;
    margin-left: 175px;
    margin-top: 50px;
    
}
h3{
   margin-top: 85px;
    font-family: open sans;
    
    font-weight: 600;
    font-size: 25px;
}
h5{
    font-size: 12px;
    align-items: center;
    margin-left: 170px;
    margin-bottom: 25px;
    margin-top: 30px;
    font-family: open sans;
    opacity: 0.5;
    
}
p{
    font-size: 12px;
    align-items: center;
    
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: open sans;
    font-weight: 300;
}
button{
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid white;
    color: #f0f0f0;
    background-color: rgb(58, 174 ,159);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 200px;
    font-size: 12px;
}

#button
{
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid rgb(255, 255, 255);
    color: #f0f0f0;
    background-color: rgb(58, 174 ,159);   
    text-align: center;
    padding: 8px;  
    margin-top: 40px;
    padding-top: 10px;
    font-size: 12px;

    
 
}
h1{
     font-family: open sans;
     font-size: small;
     margin: 10px;
}